{% extends "layout.html" %}

{% block content %}

<section class="workspace">

    <div class="workspace-header">

        <h1>
            Plan Your Journey
        </h1>

        <p>
            Create and visualize your India travel itinerary.
        </p>

    </div>


    <!-- MAP CONTAINER -->
    <div id="map"></div>


    <!-- TRIP INFO SECTION -->
    <div class="trip-info">

        <div class="info-card">

            <h2>
                Current Route
            </h2>

            <p>
                Goa → Jaipur → Manali
            </p>

        </div>


        <div class="info-card">

            <h2>
                Estimated Budget
            </h2>

            <p>
                ₹30,000
            </p>

        </div>


        <div class="info-card">

            <h2>
                Total Days
            </h2>

            <p>
                5 Days
            </p>

        </div>

    </div>

</section>

{% endblock %}